body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    margin-top: 32vh;
}

.card {
    margin: 0 18rem 0 18rem;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: none;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.116);
    
}

.img-icon{
   width: 100%;
   border-radius: 10px 0 0 10px;
  
}

.leftSide {
    
    
}

.righSide {
    
}