body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    margin-top: 32vh;
}

.card {
    margin: 0 17rem 0 17rem;

    display: flex;
    flex-direction: row;

    border-radius: 10px;
    border: none;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.116);
    
}

.img-icon{
   width: 100%;
   border-radius: 10px 0 0 10px;
  
}

.rightSide{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.title {

    color:hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 20px;
    
}

.main{
    margin-top: 1rem;
    color: hsl(214, 17%, 51%);
}

.creator{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 65px;
}

.avatar {
    border-radius: 50%;
    height: 60%;
    margin: 1rem 1rem 0 0;
}

.nameDate {
    margin-top: 1rem;
    margin-right: 1.5rem;
}

.creator-name{
    
    font-weight: 700;
    color:hsl(217, 19%, 35%);
}

.date{
    color: hsl(212, 23%, 69%);
}



.share img{
    height: auto;
    margin-top: 1rem;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    padding: 0.5rem;
    
}


.box2 {
    width: 250px;

    margin: 0;
    padding: 12px;

    border: 4px solid hsl(217, 19%, 35%);
    border-radius: 10px;

   
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.308);
    background-color: hsl(217, 19%, 35%);
    color: hsl(212, 23%, 69%);
    
    position: relative;
    left: 837px;
    top: -200px;
    z-index: 0;
    display: none;
    
  }
  
  .sb9:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid hsl(217, 19%, 35%);
    border-bottom: 12px solid transparent;
    right: 45%;
    bottom: -28px;
    
   }

.box2 img {
    margin-right: 10px;
}

.fb-icon {
    margin-left: 15px;
}

.onClick {
    background-color:hsl(217, 19%, 35%);
    padding: 1.5rem;
}